{
  "reddit": {
    "api": {
      "username": "",
      "password": "",
      "appId": "",
      "appSecret": "",
      "userAgent": "RedditOsuTwitchVodBot/2.1"
    },
    "limit": 5,
    "debug_thread_id": null
  },
  "osu": {
    "api": {
      "client_id": "",
      "client_secret": ""
    },
    "beatmap_download_url": "https://catboy.best/d/",
    "limit": 15
  },
  "twitch": {
    "api": {
      "client_id": "",
      "client_secret": ""
    },
    "timeOffset": 0,
    "vod_queue_update_frequency": 300,
    "vod_track_expiration_hours": 12
  },
  "discord": {
      "api": {
        "token": null,
        "clientId": null
      },
      "guildIds": [],
      "adminIds": [],
      "creatorId": "",
      "commandSymbol": "!"
    },
  "update_frequency":  60,
  "source_code_url": "https://github.com/afk31337/reddit-osu-twitch-vod-bot"
}